<!-- <app-contador></app-contador>  Esto hace referencia al app-contador del archivo contador.component.ts, y en ese archivo se hace que ese componente del app-contador muestre lo que está en el archivo contador.component.html, osea que con esto en realidad mostrará lo que está en el archivo contador.component.html
<app-contador></app-contador>  Esto crea otra instancia de ese componente y entonces en el navegador web se mostrará doble esto mismo, pero cada uno será independiente del otro -->

<!-- <app-heroe></app-heroe>  Aqui se hace lo mismo que arriba pero ahora con el componente app-heroe que está en la carpeta heroes en la carpeta heroe-->

<app-listado></app-listado>